<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>家計簿さん</title>
        <link rel="stylesheet" href="<%= static_path(@conn, ~s(/css/bootstrap.min.css)) %>">
        <link rel="stylesheet" href="<%= static_path(@conn, ~s(/css/react-select.min.css)) %>">
        <link rel="stylesheet" href="<%= static_path(@conn, ~s(/css/app.css)) %>">
    </head>

    <body>
      <div id="root">
        <%= render @view_module, @view_template, assigns %>
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>

</html>
